pip==24.2
bumpversion==0.6.0
wheel==0.44.0
watchdog==5.0.3
flake8==7.1.1
tox==4.21.2
coverage==7.6.3
Sphinx==8.1.3
twine==5.1.1

pytest==8.3.3
pytest-runner==4.2
groundwork-sphinx-theme==1.0.8

scipy==1.14.1
plotly==5.24.1
dash==2.18.1
dash_core_components==2.0.0
dash_html_components==2.0.0
pandas==2.2.3
click==8.1.7
numpy==2.1.2
scikit-learn==1.5.2
joblib==1.4.2
