pip==20.0.2
bumpversion==0.5.3
wheel==0.34.2
watchdog==0.10.2
flake8==3.7.9
tox==3.14.3
coverage==5.0.3
Sphinx==1.7.7
twine==1.11.0

pytest==3.7.2
pytest-runner==4.2
groundwork-sphinx-theme==1.0.8

scipy==1.4.1
plotly==4.5.0
dash==1.9.0
dash_core_components==1.8.0
dash_html_components==1.0.2
pandas==1.0.1
click==7.0
numpy==1.18.1
scikit-learn==0.22.1
joblib==0.14.1
