pip==19.0.3
bumpversion==0.5.3
wheel==0.33.1
watchdog==0.9.0
flake8==3.7.7
tox==3.7.0
coverage==4.5.3
Sphinx==1.8.5
twine==1.13.0

pytest==4.3.1
pytest-runner==4.2
groundwork-sphinx-theme==1.0.8

scipy==1.2.1
plotly==3.7.1
dash==0.39.0
dash_core_components==0.45.0
dash_html_components==0.15.0
pandas==0.24.2
click==7.0
numpy==1.16.2
scikit-learn==0.20.3
joblib==0.13.2
